@import "tailwindcss";

@theme {
  --color-primary: #004e8c;
  --color-primary-light: #0077d4;
  --color-emergency: #e53935;
  --color-success: #4caf50;
  --font-sans: "Outfit", sans-serif;
}

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-outfit), sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}